
<h2>Text Setting</h2>
<p>{{section.settings.text_setting}}</p>

<h2>Text Area Setting</h2>
<p>{{section.settings.textarea_setting |  newline_to_br}}</p>

<h2>Rich text Setting</h2>
<div>{{section.settings.richtext_setting }}</div>

<h2>Inline Rich text Setting</h2>
<div>{{section.settings.inline_richtext_setting }}</div>

<h2>Number Setting</h2>
<div>{{section.settings.number_setting }}</div>

<h2>Range Setting</h2>
<div>{{section.settings.range_setting }}</div>

<h2>Select Setting</h2>
<div>{{section.settings.select_setting }}</div>

<h2>Radio Setting</h2>
<div>{{section.settings.radio_setting }}</div>

<h2>Color Setting</h2>
<div style="color: {{section.settings.color_setting}}">{{section.settings.color_setting }}</div>

<h2>Color Background Setting</h2>
<div style="background: {{section.settings.colorbackground_setting}}">{{section.settings.colorbackground_setting }}</div>

{% if section.settings.image_picker_setting %}
    <h2>Image Setting</h2>
{{ section.settings.image_picker_setting | image_url: width: 400 |  image_tag: style: 'height: 200px; | object-fit: cover;' }}
    
{% endif %}

{% if section.settings.checkbox_setting %}
        <p>True</p>
    {% else %}
        <p>False</p>
    
{% endif %}


{% comment %} <div>
    <h2>Video Settings</h2>
    {{ section.settings.video_setting |  video_tag: controls: true, loop: true, autoplay: false, muted: true, playsinline: true, preload: 'auto', width: '80%' , image_size: 500x style: "margin: auto" }}
</div> {% endcomment %}

<iframe width="560" height="315" title="Youtube Video Player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen src="https://www.youtube.com/embed/{{section.settings.product_description_video.id}}" frameborder="0"></iframe>

{{section.settings.html_setting }}

{{section.settings.liquid_setting}}

<h2>Product Setting</h2>
<p>{{section.settings.product_setting}} | {{section.settings.product_setting.title}}
    {{section.settings.product_setting.price | money}}
</p>

<h2>Product List Setting</h2>
{% for product in section.settings.product_list_setting %}
    <h3>{{product.title}}</h3>
    <p>{{product.price | money}}</p>
{% endfor %}

<h2>Collection Setting</h2>
<p>{{section.settings.collection_setting}} | {{section.settings.collection_setting.title}}
</p>

<h2>Collection List Settings</h2>
{% for collection in section.settings.collectionlist_setting %}
    <h3>{{collection.handle}}</h3>
    <p>{{collection.price | money}}</p>
{% endfor %}
<div style="text-align: {{section.settings.text_alignment}};">
    <h2>Text alignment Settings</h2>
    <p>{{section.settings.text_alignment}}</p>
</div>

<div >
    <h2>Font Picker Settings</h2>
    <p>{{section.settings.font_setting.family}}</p>
</div>

<style>
    {{section.settings.font_setting | font_face: font_display: 'swap'}}
    .sections-tutorial * {
        font-family: {{section.settings.font_setting.family}};
    }
</style>


<h2>Blocks</h2>
{% for block in section.blocks %}
    {% if block.type == "section_collection" %}
            {% assign title = block.settings.title |  default: block.settings.collection.title %}
            {% assign image = block.settings.image | default: block.settings.collection.featured_image %}
            {% elsif block.type == "section_product" %}
                {% assign image = block.settings.image | default: block.settings.product.featured_image %}

            {% comment %} <p>product block</p> {% endcomment %}
            {% assign title = block.settings.title |  default: block.settings.product.title %}
    {% endif %}
    <div {{block.shopify_attributes}}>

        {% if image %}
            <div >
                {{image | image_url: width: 400 |  image_tag: style: 'height: 200px; | object-fit: cover;' }}
                </div>
            {% endif %}
            {{title}}
            </div>
{% endfor %}

{% schema %}
  {
    "name": "Sections Tutorial",
    "tag": "section",
    "class": "sections-tutorial",
    // "limit": 2,
    "enabled_on": {
        "templates": ["collection"]
    },
    "settings": [
        {           //first 3 are required, rest are optional
            "type": "text",
            "id": "text_setting",
            "label": "Text Setting",
            "default": "This is my first setting",
            "info": "This is some helpful information",
            "placeholder": "This is a placeholder"
        },
        {           //first 3 are required, rest are optional
            "type": "textarea",
            "id": "textarea_setting",
            "label": "Text Area Setting", 
            "info": "This is some helpful information"
        },
        {
            "type": "richtext",
            "id": "richtext_setting",
            "label": "Rich Text Setting"
        },
        {
            "type": "inline_richtext",
            "id": "inline_richtext_setting",
            "label": "Inline Rich Text Setting"
        },
        {
            "type": "number",
            "id": "number_setting",
            "label": "Number Setting"
        },
        {
            "type": "range",
            "id": "range_setting",
            "label": "Range Setting",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "select",
            "id": "select_setting",
            "label": "Select Option",
            "options": [
                { "value": "value 1", "label": "Option 1"},
                { "value": "value 2", "label": "Option 2" },
                { "value": "value 3", "label": "Option 3" }
            ]
        },
        {
            "type": "checkbox",
            "label": "Checkbox Setting",
            "id": "checkbox_setting",
            "default": true
        },
        {
            "type": "radio",
            "id": "radio_setting",
            "label": "Radio Setting",
            "options": [
                { "value": "value 1", "label": "Option 1"},
                { "value": "value 2", "label": "Option 2" },
                { "value": "value 3", "label": "Option 3" }
            ]
        },
        {
            "type": "color",
            "id": "color_setting",
            "label": "Color Setting",
        },
        {
            "type": "color_background",
            "id": "colorbackground_setting",
            "label": "Color Background Setting"
        },
        {
            "type": "image_picker",
            "id": "image_picker_setting",
            "label": "Image Picker Setting"
        },
        {
            "type": "header",
            "content": "Site Resources Settings",
            "info": "This is some helpful information. [Learn More](https://www.shopify.com)"
        },
        {
            "type": "video",
            "id": "video_setting",
            "label": "Video Setting"
        },
        {
            "type": "video_url",
            "id": "product_description_video",
            "label": "Product description video",
            "info": "Add a video to your product description. Supported formats: YouTube, Vimeo.",
            "accept": [
                "youtube",
                "vimeo" ]
        },
        {
            "type": "html",
            "label": "HTML",
            "id": "html_setting"
        },
        {
            "type": "liquid",
            "label": "Liquid",
            "id": "liquid_setting"
        },
        {
            "type": "product",
            "id": "product_setting",
            "label": "Product"
        },
        {
            "type": "product_list",
            "id": "product_list_setting",
            "label": "Product List",
            "limit": 10
        },
        {
            "type": "collection",
            "id": "collection_setting",
            "label": "Collection"
        },
        {
            "type": "collection_list",
            "id": "collectionlist_setting",
            "label": "Collection list"
        },
        {
            "type": "text_alignment",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "center"
        },
        {
            "type": "font_picker",
            "id": "font_setting",
            "label": "Font Setting",
            "default": "assistant_n4"
        }

    ],
    "blocks": [
        {
            "type": "section_product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "label": "Product",
                    "id": "product_setting"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "info": "optional. Will override the Product's Title if defined'"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image Picker Setting",
                    "info": "optional. Will override the Product's Image if defined"
                }
            ],
            "limit": 4
        },
        {
            "type": "section_collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title Setting",
                    "info": "optional. Will override the Collection's Title if defined"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image Picker Setting",
                    "info": "optional. Will override the Collection's Image if defined"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Sections Tutorial with Products",
        "settings": {
            "text_setting": "Section Tutorial with Products"
        },
        "blocks": [
            {
                "type": "section_product",
                "settings": {
                    "product_setting": "the-3p-fulfilled-snowboard"
                }
            },
            {
                "type": "section_product",
                "settings": {
                    "product_setting": "the-3p-fulfilled-snowboard",
                    "title": "Another Product"
                }
            }
        ]
      },
      {
        "name": "Sections Tutorial with Collections",
        "settings": {
            "text_setting": "Section Tutorial with cOLLECTIONS"
        },
        "blocks": [
            {
                "type": "section_collection",
                "settings": {
                    "collection": "automated-collection"
                }
            },
            {
                "type": "section_collection",
                "settings": {
                    "product_setting": "automated-collection",
                    "title": "Another Collection"
                }
            }
    ]
      },
      {
        "name": "Sections Tuotrial with Products and Collections",
        "settings": {
            "text_setting": "Section Tutorial with Product & Collections"
        },
        "blocks": [
            {
                "type": "section_product",
                "settings": {
                    "product_setting": "the-3p-fulfilled-snowboard"
                }
            },
            {
                "type": "section_collection",
                "settings": {
                    "product_setting": "automated-collection",
                    "title": "Another Collection"
                }
            }
    ]
      }
    ]
  }
{% endschema %}